.card{
    text-align: center;
    border: 4px solid gray;
    border-radius: 10px;
    /* height: 300px;
    width: 200px; */
}
.list{
 list-style: none;
 display: flex;
 justify-content: center;
 gap: 30px;
}
/* .avatar{
    height: 300px;
    width: 200px; 
} */